<div class="col-xs-12 container articles-general-container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <div class="articles-container-table col-xs-12 col-md-8">
<!--<table class="table table-striped articles-table-view">
      <thead class="thead-inverse">
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Body</th>
          <th>Counter</th>
        </tr>
      </thead>
      <tbody>
        <%# @articles.each do |a| %>
        <tr>
          <td> <%#= a.id %> </td>
          <td> <%#= a.title %> </td>
          <td> <%#= a.body %> </td>
          <td> <%#= a.counter %> </td>                
        </tr>
        <%# end %>
      </tbody>
    </table> -->
  <% @articles.each do |article| %>
    <%= link_to article_path(article) do %>
    <div class="card col-xs-10 col-md-4 articles-card-container">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-block">
          <h4 class="card-title"> <%= article.title %> </h4>
          <p class="card-text"><%= article.body %></p>
          <p class="card-text">
            <small class="text-muted">
              <%= 
                date = article.created_at
                date.to_formatted_s(:long) 
                date.strftime("%A, %d %B %Y")
              %>
              <%#= a.id %>
            </small>
          </p>
        </div>
    </div>
    <% end %>
  <% end %>

  </div>
</div>